body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  top: 40%;
  font-size: 60px;
}
.training
{
  top: 40%;
  
}
.navs {
  
  color: white;
}
.navs:hover
{
  color: #157347 !important;
}
.navs-active {
  color: #157347;
}

.notfound{
  font-size: 180px;
}

.tiny-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.705);
}